{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_container">
        <div class="main_item"><img src="{% static 'img/man.png' %}" alt="Человек на сайте знакомств"></div>
        <div class="main_item">
            <form action="#">
                <p><label for="name">Введите имя: </label>
                <input id="name" type="text"></p>
                <p><label for="female">Введите фамилию: </label>
                <input id="female" type="text"></p>
                <p><label for="age">Введите возраст: </label>
                <input id="age" type="text"></p>
                <p><label for="password">Введите имя: </label>
                <input id="password" type="password"></p>
                <input type="submit" value="Отправить">
            </form>
        </div>
        <div class="main_item">
            <div><img src="{% static 'img/dating.png' %}" alt="Пара"></div>
        </div>
    </div>
{% endblock %}