{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="user_container">
            <div class="user_preview">
                {% if user.avatar %}
                    <p><img src="{% thumbnail user.avatar 'default' %}" alt="{{ user.last_name }} {{ user.first_name }}"></p>
                {% else %}
                    <p><img src="{% static 'img/default.png' %}" alt="" style="width: 60px; height: 60px"></p>
                {% endif %}
                <p>{{ user.last_name }} {{ user.first_name }}</p>
                <div class="rating">
                    <div class="rating_body">
                        <div class="rating_active"></div>
                        <div class="rating_items">
                            <span class="rating_item"></span>
                            <span class="rating_item"></span>
                            <span class="rating_item"></span>
                            <span class="rating_item"></span>
                            <span class="rating_item"></span>
                        </div>
                    </div>
                    <div class="rating_value">3.7</div>
                </div>
                <p>{{ user.birthday }}</p>
            {% if user.description %}
                <p>{{ user.description }}</p>
            {% else %}
                <p>Пользователь не оставил информации о себе</p>
            {% endif %}
            </div>
    </div>
{% endblock %}